*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  text-align: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}

nav a:hover{
  background: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  
}

nav a{
  padding: 20px;
  margin: 7px;
  text-decoration: none;
  color: white;
}

h1{
  margin: 5%;
  display: flex;
  justify-content: center;
  padding: 2%;
  border-radius: 30px;
  max-height: 100svh;
  background: rgba(255, 255, 255, 0.6);
}

.profil{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}


footer>table>tbody>tr{

  display: flex;
  justify-content: center;
  padding: 10px;
  justify-content: space-evenly
}

footer>table{
  width: 50%
}

footer>a{
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}

body, html{
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://m.media-amazon.com/images/I/81M42argu+L.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100svh;
}