*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  margin: 1%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}

nav a:hover{
  background: rgba(211, 93, 93, 0.6);
  border-radius: 15px;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

nav a{
  padding: 17px;
  margin: 7px;
  color: white;
}

h1{
  margin: 5%;
  display: flex;
  justify-content: center;
  padding: 2%;
  border-radius: 30px;
  max-height: 100svh;
  background: rgba(255, 255, 255, 0.8);
}

.profil{
  display: flex;
  justify-content: center;
  align-items: center;

}

#paragraphe{
  background-color: white;
  border-radius: 30px;
}

footer{
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
}

footer>a{
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}

#link{
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

footer>h4{
  color: white;
  display: flex;
  justify-content: center;
}

body, html{
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100svh;
}